.xxx tr td{

    border-width: medium;
    border-style: solid;
    border-color: #FF4500;
    width: 100% !important;
    border: 1px solid blue;
    width: 30% !important; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px !important;
    text-align: center;

    color : #FF4500;
}