.bordas tr td{

    border-width: medium;
    border-style: solid;
    border-color: #2F4F4F;
    width: 100% !important;
    border: 1px solid blue;
    width: 30% !important; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px !important;
    text-align: center;
}

/* body da pagina principal*/

.corpo {

	background: #DCDCDC;
}


/*texto do cabeçalho da tabela*/
.negrito {
 font-weight: bold;
}

.xxx tr td{

    border-width: medium;
    border-style: solid;
    border-color: #2F4F4F;
    width: 100% !important;
    border: 1px solid blue;
    width: 30% !important; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px !important;
    text-align: center;
}