/*form*/

#frmContato {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	border:3px solid gray;
	padding:20px;
}


#frmContato label{
	display:block;
	margin-bottom:20px;
}

#frmContato textarea{
	width:100%;	
	margin-bottom:15px;
	height:50px;
	border:2px solid gray;
	border-radius:10px;
	padding:3px;
}

#frmContato textarea:focus {
	border:2px dashed red;
}

#frmContato label input:hover {
	border:2px dashed red;
}

#frmContato label input {
	width:350px;
	border:2px solid gray;
	border-radius:10px;
	padding:7px;
}

/*dimensoes e cor do botao*/

.botao {
	border-radius:10px;
	border:1px solid gray;
	color:white;
	background:blue;
	padding:10px;
}

/*segunda cor do botao*/

.botao:hover {
	background:black;
}

/*body*/

.body {

 background: #C6E2FF;
}
